fastapi
uvicorn
pandas
sqlalchemy
psycopg2-binary
groq
python-dotenv
asyncpg
pydantic
pandas
transformers
joblib
scikit-learn
pinecone
llama-index
llama-index-vector-stores-pinecone
llama-index-embeddings-huggingface
sdv
shap